atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.0.2
htmlmin==0.1.12
idna==2.10
importlib-metadata==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.6.0
pluggy==0.13.1
py==1.10.0
pytest==3.8.2
python-http-client==3.3.1
PyYAML==5.3.1
requests==2.25.1
six==1.11.0
starkbank-ecdsa==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==1.0.1
zipp==3.4.0
